<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Quiz Fantasy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

<div class="box">
    <div class="columns">
        <div class="column is-three-quarters">
            <h1 class="title is-1">Quiz Fantasy</h1>
        </div>
        <div class="column">
            <h1 class="subtitle is-2">
                <% if(session.user){ %>
                    <a class="user" href="/users/<%= session.user.id %>" ><%= session.user.username%></a>
                <% } %>
            </h2>
        </div>
    </div>
</div>

<div class="box">
    <h2 class="subtitle is-3">
        <a href="/">Home</a>
        <% if (!session.user){ %>
            <a class="" href="/login">LogIn</a>
            <a href="/signup">SignUp</a>
        <% }else{ %>
            <a href="/quizzes/randomplay">Play</a>
            <a href="/quizzes">Quizzes</a>
            <a href="/users/<%= session.user.id %>/quizzes">MyQuizzes</a>
            <a href="/users">Quizzersss</a>
            <a href="/logout">LogOut</a>
        <% } %>
        <a href="/credits">Credits</a>
    </h2>
</div>

<section class="box">
    <% if (messages.info) { %>
        <div class='notification is-info'>
            <h3 class="subtitle">Info:</h3>
            <ul>
                <% for (var i in messages.info) { %>
                    <li> <%= messages.info[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <% if (messages.success) { %>
        <div class='notification is-success'>
            <h3 class="subtitle">Tasks completed successfully:</h3>
            <ul>
                <% for (var i in messages.success) { %>
                    <li> <%= messages.success[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <% if (messages.error) { %>
        <div class='notification is-danger'>
            <h3 class="subtitle">Errors:</h3>
            <ul>
                <% for (var i in messages.error) { %>
                    <li> <%= messages.error[i] %> </li>
                <% } %>
            </ul>
        </div>
    <% } %>

    <div>
        <%- body %>
    </div>

    <% if (locals.paginate_control) { %>
        <%- paginate_control %>
    <% } %>
</section>

</div>

<div class="box">
    <a class='subtitle is-6' href="http://en.wikipedia.org/wiki/Quiz">Who doesn't care about what a quiz is?</a>
</div>

</body>
</html>
