<div class="content">

  <div class="columns">
    <div class="column">
      <h1 class="title"><%= title || 'All Quizzes' %></h1>
    </div>
    <div class="column">
      <a href="/quizzes/new" class="button is-success is-medium">New Quiz</a>
    </div>
    <div class="column is-half">
      <h3 class="subtitle is-6">
        <form method="get" action="<%= url %>">
            <input type="text" class="input is-info" name="search" value="<%= locals.search || '' %>" placeholder="Lost?" autocomplete="off" />
            <input type="submit" class="button is-info" value="Search">
        </form>
      </h3>
    </div>
  </div>

  <ul>
    <% for (var i in quizzes) { %>
    <% var quiz = quizzes[i]; %>
    <% var isAdmin = session.user && session.user.isAdmin; %>
        <li>

          <a href="/quizzes/<%=quiz.id%>/play" class="subtitle is-5"><%=quiz.question%></a>
          <span class="tag is-info is-small"><%if(quiz.fans.length != 0){ %><%= quiz.fans.length %><% }else{ %>0<% } %></span>
          <a href="/quizzes/<%=quiz.id%>" class="button is-primary is-small">Show</a>

          <% if(isAdmin || title){%>
          <a href="/quizzes/<%=quiz.id%>/edit" class="button is-warning is-small">Edit</a>
          <a href="/quizzes/<%=quiz.id%>?_method=DELETE" class="button is-danger is-small" onclick="return confirm('Delete: <%=quiz.question%>?');">Delete</a>
          <% } %>

        </li>
    <% } %>
  </ul>