<h1 class="title">All Quizzes</h1>


<table class="quizzes>">
  <% for (var i in quizzes) { %>
  <% var quiz = quizzes[i]; %>
    <tr>
      <div>
          <td><a href="/quizzes/<%=quiz.id%>/play" class="question"><%=quiz.question%></a></td>
          <td><a href="/quizzes/<%=quiz.id%>" class="button">Show</a></td>
          <td><a href="/quizzes/<%=quiz.id%>/edit" class="button">Edit</a></td>
          <td><a href="/quizzes/<%=quiz.id%>?_method=DELETE" class="button" onclick="return confirm('Delete: <%=quiz.question%>?');">Delete</a></td>
      </div>
    </tr>
  <% } %>
</table>

<h3 class="quizzesOptions">
    <a href="/quizzes/new" class="button">New Quiz</a>
</h3>

<h3 class="right">
  <tr>
    <form method="get" action="<%= url %>">
      <td>
        <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="Lost?" autocomplete="off" />
      </td>
      <td>
        <input type="submit" value="Search">
      </td>
    </form>
  </tr>
</h3>