<div class="content">

    <h2 class="subtitle is-4">Play Quiz</h2>

    <div class="columns">
        <div class="column is-two-thirds">
            <form method="post" action="/quizzes/<%=quiz.id%>/check?_method=PUT">
                
                <% if(!quiz.choice){ %>
                    <ul>

                        <li>
                            <span class="tag is-dark is-medium"><%=quiz.question%></span>
                            <input type="text" placeholder="Answer" class="input is-primary" name="answer" autocomplete="off">
                            <input type="submit" class="button is-success" value="Check">
                            <a href="/goback" class="button is-info">Go Back</a>
                        </li>
                        
                    </ul>
                <% }else{ %>
                    <ul>

                        <li>
                            <span class="tag is-dark is-medium"><%=quiz.question%></span>
                            <div class="control">
                              <div class="select">
                                <select name="answer">
                                  <option><%= quiz.answer1 %></option>
                                  <option><%= quiz.answer2 %></option>
                                  <option><%= quiz.answer3 %></option>
                                </select>
                              </div>
                            </div>
                            <input type="submit" class="button is-success" value="Check">
                            <a href="/goback" class="button is-info">Go Back</a>
                        </li>
                        
                    </ul>
                <% } %>

                
            </form>
        </div>
        
        <div class="column">
            <div class="box tips">
                <h3 class="subtitle is-5">Quiz Tips:</h3>

                <% if(session.user){ %>
                    <% include ../tips/new %>
                <% } %>

                <% var tips = quiz.tips; %>
                <% var quizId = quiz.id; %>
                <% var quizAuthorId = quiz.authorId; %>

                 <% include ../tips/index %>

            </div>
        </div> 
    </div>
</div>   
