<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Show Quiz</h2>
		</div>

		<div class="column">
			<small> [Quiz by: 
				<%if(session.user){ %> 
					<a class="user" href="/users/<%= session.user.id %>" ><%= session.user.username%></a>
				<% }else{ %>
					Anonymous 
				<% } %>
				<span class="tag is-info is-medium"><% include ../upvotes/_arrowup.ejs %></span>
			 ]</small>
		</div>
	</div>

    <div class="columns">
        <div class="column is-two-thirds">
            <form method="get" action="/quizzes/<%=quiz.id%>/check">
                <ul>

                    <li>
                        <span class="tag is-dark is-medium">Question:</span>
                        <p class="subtitle is-4"><%= quiz.question %></p>
                    </li>
                    <li>
                        <span class="tag is-success is-medium">Answer:</span>
                        <p class="subtitle is-4"><%= quiz.answer %></p>
                        <a href="/goback" class="button is-info">Go Back</a>
                    </li>
                    
                </ul>
            </form>
        </div>
        
        <div class="column">
            <div class="box has-background-info">
                <h3 class="subtitle is-5">Quiz Tips:</h3>

                <% if(session.user){ %>
                    <% include ../tips/new %>
                <% } %>

                <% var tips = quiz.tips; %>
                <% var quizId = quiz.id; %>
                <% var quizAuthorId = quiz.authorId; %>

                 <% include ../tips/index %>

            </div>
        </div> 
    </div>
</div>   