<div class="content">
	<div class="columns">
		<div class="column is-two-thirds">
			<h2 class="subtitle is-4">Pregunta de <%= quiz.subject %>: <%= quiz.desc %></h2>
		</div>
	</div>

    <div class="columns">

        <div class="column is-two-thirds">
            <ul>

                <li>
                    <span class="tag is-dark is-medium">Question:</span>
                    <p class="subtitle is-4"><%= quiz.question %></p>
                </li>
                <li>
                    <span class="tag is-success is-medium">Respuesta: <b> <%=answer%> </b> </span>
								</li>
								<li>
										<span class="tag is-info is-medium">Posibles respuestas:</span>
                    <p class="subtitle is-4"><%= quiz.answer1 %></p>
                    <p class="subtitle is-4"><%= quiz.answer2 %></p>
                    <p class="subtitle is-4"><%= quiz.answer3 %></p>
										<p class="subtitle is-4"><%= quiz.answer4 %></p>
                    <a href="/goback" class="button is-info">Volver</a>
                </li>

            </ul>
        </div>

    </div>
</div>
