<div class="content">

<h2 class="subtitle is-4">User</h1>
<ul>
    <li>
        User name:<b> <%= user.username %></b>
    </li>

    <li>
        Administrator:<b> <%= user.isAdmin ? "Yes" : "No" %></b>
    </li>

    <% if (session.user) { %>
    <li>
        <a href="/users/<%= user.id %>/follow?_method=PUT"class="button is-small">Follow</a>   
        <a href="/users/<%= user.id %>/unfollow?_method=DELETE"class="button is-small">Unfollow</a>
        
        <% if (session.user.isAdmin || session.user.id === user.id) { %>
            <a href="/users/<%= user.id %>/edit"class="button is-small">Edit</a>
        <% } %>

        <% if (session.user.isAdmin && session.user.id !== user.id) { %>
            <a href="/users/<%= user.id %>?_method=DELETE" onClick="return confirm('Delete user: <%= user.username %>');" class="button is-small">Delete</a>
        <% } %>
    </li>
    <% } %>
</ul>

<a href="/goback" class="button">Go back</a>

</div>
